<% if signed_in? %>
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="news-feed">
          <h1>News <small>The latest info on your favorite projects</small></h1>
          <% if signed_in? %>
            <div class="button-bar">
              <%= link_to new_post_path, class: "btn btn-primary" do %>
                <i class="icon-plus"></i> New Post
              <% end %>
            </div>
          <% end %>
          <%= render Post.limit(5), show_user: true %>
        </div>
      </div>

      <div class="span4">
        <div class="well events-panel">
          <ul class="nav nav-list">
            <li class="nav-header">Upcoming Events
              <div class="management-icons">
                <%= link_to calendar_path do %>
                  <i class="icon-calendar"></i>
                <% end %>
                <%= link_to events_path do %>
                  <i class="icon-list"></i>
                <% end %>
              </div>
            </li>
            <% @first_5_events.each do |event| %>
              <li>
                <%= link_to event do %>
                  <%= event.name %>
                  <small><%= event.start_date.strftime('%B %-d') %></small>
                <% end %>
              </li>
            <% end %>
            <li class="more-link"><a href="<%= events_path %>">more &raquo;</a></li>
          </ul>
        </div>
        <div class="well projects-panel">
          <ul class="nav nav-list">
            <li class="nav-header">My Projects</li>
            <li><a href="#">Great Project</a></li>
            <li><a href="#">Something Else</a></li>
            <li class="more-link"><a href="#">more &raquo;</a></li>
          </ul>
        </div>
        <div class="well teams-panel">
          <ul class="nav nav-list">
            <li class="nav-header">My Teams</li>
            <li><a href="#">Team 1</a></li>
            <li><a href="#">Team 2</a></li>
            <li class="more-link"><a href="#">more &raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="span8">
      <div class="hero-unit">
        <h1>Welcome to Eventicator!</h1>
        <p>Eventicator is a web site for managing events.  It is especially suited
          for events where multiple teams showcase projects they have made.
        </p>
        <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>
    <div class="span4">
      <h3 class="underscored">Already registered?</h3>
      <%= render "sessions/signin" %>
    </div>
  </div>
<% end %>
