<% provide(:title, "Profile | #{@user.name}") %>
<div class="row">
  <div class="span8">
    <div class="profile">
      <%= gravatar_for(@user, size: 100) %>
      <div class="contact-info">
        <h1><%= @user.name %></h1>
        <div>(need contact info of some sort)</div>
        <div>(social buttons here)</div>
      </div>
    </div>
    <div class="news-feed">
      <h2>News <small>The latest from <%= @user.name %></small></h2>
      <% if @user == current_user %>
        <div class="button-bar">
          <%= link_to new_post_path, class: "btn btn-primary" do %>
            <i class="icon-plus"></i> New Post
          <% end %>
        </div>
      <% end %>
      <%= render @user.posts.limit(5), show_user: false %>
    </div>
  </div>
  <div class="span4">
    <div class="well teams-panel">
      <ul class="nav nav-list">
        <li class="nav-header">Member of</li>
        <li><a href="#">Team 1</a></li>
        <li><a href="#">Team 2</a></li>
        <li class="more-link"><a href="#">more &raquo;</a></li>
      </ul>
    </div>
    <div class="well projects-panel">
      <ul class="nav nav-list">
        <li class="nav-header">Projects</li>
        <li><a href="#">Project 1</a></li>
        <li><a href="#">Project 2</a></li>
        <li class="more-link"><a href="#">more &raquo;</a></li>
      </ul>
    </div>
    <div>(maybe Twitter feed here)</div>
  </div>
</div>
