<%= provide(:title, 'All events') %>
<h1 class="underscored">All events</h1>

<div class="button-bar">
  <%= link_to calendar_path, class: "btn" do %>
    <i class="icon-calendar"></i> Calendar 
  <% end %>
  <% if signed_in_as_admin? %>
    <%= link_to new_event_path, class: "btn" do %>
      <i class="icon-plus"></i> New Event
    <% end %>
  <% end %>
</div>

<%= will_paginate %>

<ul class="events">
  <%= render @events %>
</ul>

<%= will_paginate %>

