<% provide(:title, "#{@event.name}") %>
<div class="row">
  <div class="span9">
    <div class="hero-unit">
      <h1><%= @event.name %></h1>
      <div class="event-description">
        <%= simple_format(@event.description) %>
      </div>
      <div>(social buttons here)</div>
      <% if (signed_in? && current_user.admin?) %>
        <div class="management-buttons">
          <%= link_to edit_event_path(@event), title: "Edit" do %>
            <i class="icon-pencil"></i>
          <% end %>
          <%= link_to @event,
                      method: :delete,
                      title: "Delete",
                      data: { confirm: "Are you sure you want to delete this event?" } do %>
            <i class="icon-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <h2 class="underscored">Agenda</h2>
    <div class="event-talk row">
      <div class="start-time span1">9:00</div>
      <div class="details span8"><a href="foo">Talk 1</a> by <a href="user">Speaker 1</a></div>
    </div>
    <div class="event-talk row">
      <div class="start-time span1">10:00</div>
      <div class="details span8"><a href="foo">Talk 2</a> by <a href="user">Speaker 2</a></div>
    </div>
  </div>

  <div class="span3">
    <h3 class="underscored">Location</h3>
    <div class="event-location">
      <%= simple_format(@event.location) %>
    </div>
    <div class="event-map">
      <%= map_for(@event.location) %>
    </div>
    <h3 class="underscored">Attending</h3>
    <div class="event-registered-users">
      (registered users here)
    </div>
  </div>
</div>
