<% provide(:title, "#{@event.name}") %>
<div class="row">
  <div class="span9">
    <div class="hero-unit">
      <h1><%= @event.name %></h1>
      <p class="event-date-range"><%= @event.date_range.to_s %></p>
      <div class="event-description">
        <%= simple_format(@event.description) %>
      </div>

      <div>(social buttons here)</div>
      <%= render "management_icons", event: @event %>
    </div>

    <% if @event.talks.any? || signed_in_as_admin? %>
      <h2 class="underscored">Agenda</h2>
      <% if signed_in_as_admin? %>
        <div class="button-bar">
          <%= link_to "#{new_talk_path}?event_id=#{@event.id}", class: 'btn' do %>
            <i class="icon-plus"></i> Add Talk
          <% end %>
        </div>
      <% end %>
      <!-- FIXME: Separate by day. -->
      <%= render @event.talks %>
    <% end %>
  </div>

  <div class="span3">
    <h3 class="underscored">Location</h3>
    <div class="event-location">
      <%= simple_format(@event.location) %>
    </div>
    <div class="event-map">
      <%= map_for(@event.location) %>
    </div>
    <h3 class="underscored">Attending</h3>
    <div class="event-registered-users">
      (registered users here)
    </div>
  </div>
</div>
