<% provide(:title, "#{@event.name}") %>
<div class="row">
  <div class="span9">
    <div class="hero-unit">
      <h1><%= @event.name %></h1>
      <div class="event-description">
        <%= simple_format(@event.description) %>
      </div>
      <div>(social buttons here)</div>
      <%= render "management_icons", event: @event %>
    </div>

    <% if @event.talks.any? %>
      <h2 class="underscored">Agenda</h2>
      <!-- FIXME: Separate by day. -->
      <%= render @event.talks %>
    <% end %>
    <!--
    <div class="event-talk row">
      <div class="start-time span1">9:00</div>
      <div class="details span8"><a href="foo">Talk 1</a> by <a href="user">Speaker 1</a></div>
    </div>
    <div class="event-talk row">
      <div class="start-time span1">10:00</div>
      <div class="details span8"><a href="foo">Talk 2</a> by <a href="user">Speaker 2</a></div>
    </div>
    -->
  </div>

  <div class="span3">
    <h3 class="underscored">Location</h3>
    <div class="event-location">
      <%= simple_format(@event.location) %>
    </div>
    <div class="event-map">
      <%= map_for(@event.location) %>
    </div>
    <h3 class="underscored">Attending</h3>
    <div class="event-registered-users">
      (registered users here)
    </div>
  </div>
</div>
